## Artifacts
*.class

## Package Files
*.jar
*.war
*.ear
target

## IntelliJ
.idea
*.iml

/.vscode

## Logs
*.log

## Temp
*~
.#*

## MAC
.DS_Store

dependency-reduced-pom.xml

venv

.mnb.d

__pycache__
*.pyc

mnb-generated
.mnb